:root {
  --mainColor: #222;
  --themeColor: #222;
  --mainFontColor: var(--themeColor);
  --lightFontColor: lightgray;
  --warningColor: #bc4749;
  --backgroundColor: rgba(255, 255, 255, 0.7);
  --backgroundColorDark: var(--themeColor);
  --secondFontColor: gray;
  --animationFactor: 10%;
  --workCardSize: 250px;
  --workImageSize: 200px;
  --websiteNameSize: 1.5rem;
  --headerWidth: 20rem;
  --fontSize_h1: 10rem;
  --fontSize_h2: 2rem;
  --fontSize_h4: 1.5rem;
  --fontSize_p: 1rem;
  --imgSize_A: 20rem;
  --textFrame_width: 30rem;
  --transitionTime: 0.4s;
  --mediaMaxWidth: 60vw;
  --mediaMaxHeight: 60vw;
}

* {
  box-sizing: border-box;
}
a {
  cursor: pointer;
}
body {
  color: var(--themeColor);
  margin-left: auto;
  margin-right: auto;
}
img {
  max-width: 100%;
}
main {
  margin: 20px 20px;
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

header .atelierZZZ {
  display: flex;
}
header #atelier {
  font-size: var(--websiteNameSize);
  font-weight: 100;
}
.ZZZ {
  display: flex;
}

.ZZZ h1 {
  font-size: var(--websiteNameSize);
  color: var(--themeColor);
}

.ZZZ h1:nth-child(1) {
  color: transparent;
}

.ZZZ h1:nth-child(2) {
  color: var(--themeColor);
  animation: animate 4s ease-in-out infinite;
  transform: translate(-100%, 0%);
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% calc(40% - 1.1 * var(--animationFactor)),
      15% calc(40% - 1.3 * var(--animationFactor)),
      30% calc(40% - 1.5 * var(--animationFactor)),
      45% calc(40% - 1.7 * var(--animationFactor)),
      60% calc(40% + 1.5 * var(--animationFactor)),
      75% calc(40% + 1.3 * var(--animationFactor)),
      100% calc(40% + 1.1 * var(--animationFactor)),
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% calc(40% + 1.1 * var(--animationFactor)),
      15% calc(40% + 1.3 * var(--animationFactor)),
      30% calc(40% + 1.5 * var(--animationFactor)),
      45% calc(40% + 1.7 * var(--animationFactor)),
      60% calc(40% - 1.5 * var(--animationFactor)),
      75% calc(40% - 1.3 * var(--animationFactor)),
      100% calc(40% - 1.1 * var(--animationFactor)),
      100% 100%,
      0% 100%
    );
  }
}

header a {
  text-decoration: none;
  color: inherit;
}
header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}
header nav {
  display: flex;
  gap: 1rem;
}

header nav .header_button:hover {
  text-decoration: underline;
}

.menu {
  list-style-type: none;
  margin-bottom: 2rem;
}

.menu .menu_text {
  color: var(--secondFontColor);
  text-decoration: none;
}

.menu .menu_text:hover {
  color: var(--mainColor);
  text-decoration: underline;
  transition: 0.5s;
}

div.posts {
  justify-items: center;
  align-items: center;
  display: grid;
  gap: 5rem;
  grid-template-columns: 0.33fr 0.33fr 0.33fr;
}
@media screen and (max-width: 600px) {
  div.posts {
    grid-template-columns: 1fr;
  }
  header nav {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
  }
  header .atelierZZZ {
    display: flex;
    flex-direction: column;
  }
  header #atelier {
    font-size: 1rem;
    margin-top: -1rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 600px) {
  div.posts {
    grid-template-columns: 0.5fr 0.5fr;
  }
}

div.home_page .profile {
  display: flex;
  max-height: 70vh;
  margin-left: auto;
  margin-right: auto;
}

div.post .image {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
}

div.post {
  display: flex;
  flex-direction: column;
  height: 80vh;
  max-width: 400px;
  align-items: center;
}
@media screen and (min-width: 600px) {
  div.post {
    grid-template-columns: 1fr;
  }
}

div.post div.texts h2 {
  margin: 0;
  font-size: 1.5rem;
}
div.post div.texts a {
  text-decoration: none;
  color: inherit;
}
div.post p.info {
  margin: 24px 0;
  color: var(--lightFontColor);
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
div.post p.info a.author {
  color: var(--themeColor);
}
div.post p.summary {
  margin: 10px 0;
  line-height: 1.8rem;
}

form.login,
form.register {
  max-width: 400px;
  margin: 0 auto;
}
.edit_form .form_button {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  gap: 0.5rem;
}
input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
button {
  cursor: pointer;
  width: 100%;
  display: block;
  color: black;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 7px 0;
}
button:hover {
  border: 1px solid black;
  background-color: transparent;
  color: black;
  transition: 0.1s;
}
button:active {
  border: 1px solid black;
  background-color: transparent;
  color: black;
  transition: 0.05s;
}
.form_button {
  margin-top: 0px;
}
.negative_button {
  text-decoration: none;
}

form.login h1,
form.register h1 {
  text-align: center;
}

div.post-page div.image {
  max-height: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
  width: calc(var(--mediaMaxWidth) * 0.5);
  margin-bottom: 3rem;
}
div.post-page a {
  color: #333;
  text-decoration: underline;
}
div.post-page h1 {
  text-align: center;
  margin: 10px 0 5px;
}
div.post-page time {
  text-align: center;
  display: block;
  font-size: 1rem;
  color: #aaa;
  margin: 10px 0;
}
div.post-page div.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.7rem;
  font-weight: bold;
}
div.post-page .content {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

div.content {
  width: auto;
  margin: 5vw 5vw;
}

div.content p {
  line-height: 1.7rem;
}
div.content li {
  margin-bottom: 10px;
}
div.edit-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
div.post-page .edit-btn {
  display: inline-flex;
  font-size: 1rem;
  gap: 5px;
  margin: 3rem;
  color: black;
  padding: 15px 30px;
  text-decoration: none;
}
div.post-page .edit-btn:hover {
  background-color: var(--themeColor);
  color: white;
  transition: 0.3s;
}

div.post-page .delete-btn {
  display: inline-flex;
  font-size: 1rem;
  gap: 5px;
  margin: 3rem;
  color: black;
  padding: 15px 30px;
  text-decoration: none;

  padding: 15px 30px;
  text-decoration: none;
}

div.post-page .delete-btn:hover {
  text-decoration: underline;
  color: var(--warningColor);
  transition: 0.3s;
}

a svg {
  height: 20px;
}

#toolbar .ql-formats button {
  margin-top: auto;
  margin-bottom: auto;
}
.ql-size-extra-small {
  font-size: 12px;
}
.ql-size-small {
  font-size: 14px;
}
.ql-size-medium {
  font-size: 20px;
}
.ql-size-large {
  font-size: 22px;
}
.content .ql-video {
  width: var(--mediaMaxWidth);
  height: calc(var(--mediaMaxWidth) * 1080 / 1920);
  margin-left: auto;
  margin-right: auto;
}

.content img {
  width: calc(var(--mediaMaxWidth) * 1);
}
.content img:hover {
  cursor: zoom-in;
}
@media screen and (min-width: 600px) {
  .content img {
    width: calc(var(--mediaMaxWidth) * 0.5);
  }
}

.ql-align-right {
  text-align: right;
}
.ql-align-center {
  text-align: center;
}
.ql-align-left {
  text-align: left;
}
.ql-align-justify {
  text-align: justify;
}

.ql-editor {
  min-height: 40vh;
}

.ql-counter {
  margin: 1rem;
}

figcaption {
  font-size: 1rem;
  font-style: italic;
  color: #aaa;
}
